<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>

  <action id="com.jlebon.Bootc.status">
    <description>View bootc status</description>
    <message>Authentication is required to view bootc status</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/bootc</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">status</annotate>
  </action>

  <action id="com.jlebon.Bootc.upgrade">
    <description>Perform bootc upgrade</description>
    <message>Authentication is required to upgrade the system</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/bootc</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">upgrade</annotate>
  </action>

</policyconfig>
